{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password done{% endblock %}
{% block content %}
        <div class="container">
            <div class="row mt-5 pt-3">
                <div class="col-md-8 offset-md-2">
                    <div class="card my-3 shadow">
                        <div class="card-body">
                            <h4 class="text-center">Password done</h4>
                            <hr>
                            <div class="alert alert-info text-center">
                                An email with your password is sent to your successfully!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}