{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password reset{% endblock %}
{% block content %}
        <div class="container">
            <div class="row mt-5 pt-3">
                <div class="col-md-8 offset-md-2">
                    <div class="card my-3 shadow">
                        <div class="card-body">
                            <h4 class="text-center">Password reset</h4>
                            <hr>
                            <div class="alert alert-info text-center">
                                Enter your email to send you the new password!
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input class="btn btn-primary btn-block" type="submit" value="Reset password">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}